<!DOCTYPE html>
<html lang="en">
<head>
<style>
	html,body,main,svg,canvas {
		width: 100%;
		height: 100%;
	}
	body {
		margin: 0;
	}
	main {
		overflow: hidden;
	}
</style>
</head>
<body>
	<main>
		<!-- <canvas id="display" /> -->
		<svg id="display"></svg>
	</main>

<script src="../src/js/cincinnativ3.js"></script>
<script>
	(function(){

		var display = document.getElementById("display");
		var cinn = new Cincinati({
			display: display,
			movement: "pivot"
		});

		var p = function(x,y,z){
			return {x,y,z};
		}

		cinn.points.push({point:p(0,0,0)});
		// cinn.lines.push(p(0,0,0));
		cinn.polygons.push({points:[p(0,0,0)]});

		cinn.render();
	}());
</script>
</body>
</html>
